---
import BaseLayout from "../layouts/BaseLayout.astro";

const privacyText = `DATENSCHUTZERKLÄRUNG

TABLE OF CONTENTS

loading...

## Datenschutzerklärung

## Präambel

Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer personenbezogenen Daten (nachfolgend auch kurz als "Daten“ bezeichnet) wir zu welchen Zwecken und in welchem Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen personenbezogener Daten, sowohl im Rahmen der Erbringung unserer Leistungen als auch insbesondere auf unseren Webseiten, in mobilen Applikationen sowie innerhalb externer Onlinepräsenzen, wie z.B. unserer Social-Media-Profile (nachfolgend zusammenfassend bezeichnet als "Onlineangebot“).

Die verwendeten Begriffe sind nicht geschlechtsspezifisch.

Stand: 20. Juli 2023

Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken.

## Verantwortlicher

Taipan Consulting GmbH
Neue Mainzer Str. 66-68
60311 Frankfurt

Vertretungsberechtigte Personen:

Frank Welsch-Lehmann

E-Mail-Adresse:

fwl@taipanconsulting.com

Impressum:

https://www.taipanconsulting.de/impressum

## Maßgebliche Rechtsgrundlagen

**Maßgebliche Rechtsgrundlagen nach der DSGVO:** Im Folgenden erhalten Sie eine Übersicht der Rechtsgrundlagen der DSGVO, auf deren Basis wir personenbezogene Daten verarbeiten. Bitte nehmen Sie zur Kenntnis, dass neben den Regelungen der DSGVO nationale Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder Sitzland gelten können. Sollten ferner im Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der Datenschutzerklärung mit.

* **Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO)** - Die betroffene Person hat ihre Einwilligung in die Verarbeitung der sie betreffenden personenbezogenen Daten für einen spezifischen Zweck oder mehrere bestimmte Zwecke gegeben.
* **Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)** - Die Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen.
* **Rechtliche Verpflichtung (Art. 6 Abs. 1 S. 1 lit. c) DSGVO)** - Die Verarbeitung ist zur Erfüllung einer rechtlichen Verpflichtung erforderlich, der der Verantwortliche unterliegt.
* **Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)** - Die Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen.

**Nationale Datenschutzregelungen in Deutschland:** Zusätzlich zu den Datenschutzregelungen der DSGVO gelten nationale Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere das Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum Widerspruchsrecht, zur Verarbeitung besonderer Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall einschließlich Profiling. Ferner können Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung gelangen.

## Übersicht der Verarbeitungen

Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen und verweist auf die betroffenen Personen.

### Arten der verarbeiteten Daten

* Bestandsdaten.
* Zahlungsdaten.
* Standortdaten.
* Kontaktdaten.
* Inhaltsdaten.
* Vertragsdaten.
* Nutzungsdaten.
* Meta-, Kommunikations- und Verfahrensdaten.
* Kontaktinformationen (Facebook).
* Event-Daten (Facebook).

### Besondere Kategorien von Daten

* Gesundheitsdaten.
* Daten zum Sexualleben oder der sexuellen Orientierung.
* Religiöse oder weltanschauliche Überzeugungen.
* Daten, aus denen die rassische und ethnische Herkunft hervorgehen.

### Kategorien betroffener Personen

* Kunden.
* Beschäftigte.
* Interessenten.
* Kommunikationspartner.
* Nutzer.
* Geschäfts- und Vertragspartner.
* Abgebildete Personen.

### Zwecke der Verarbeitung

* Erbringung vertraglicher Leistungen und Kundenservice.
* Kontaktanfragen und Kommunikation.
* Sicherheitsmaßnahmen.
* Direktmarketing.
* Reichweitenmessung.
* Tracking.
* Büro- und Organisationsverfahren.
* Remarketing.
* Konversionsmessung.
* Klickverfolgung.
* Zielgruppenbildung.
* Verwaltung und Beantwortung von Anfragen.
* Content Delivery Network (CDN).
* Feedback.
* Marketing.
* Profile mit nutzerbezogenen Informationen.
* Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.
* Informationstechnische Infrastruktur.

## Sicherheitsmaßnahmen

Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu gewährleisten.

Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten durch Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs, der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die Gefährdung der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.

TLS-Verschlüsselung (https): Um Ihre via unserem Online-Angebot übermittelten Daten zu schützen, nutzen wir eine TLS-Verschlüsselung. Sie erkennen derart verschlüsselte Verbindungen an dem Präfix https:// in der Adresszeile Ihres Browsers.

## Übermittlung von personenbezogenen Daten

Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor, dass die Daten an andere Stellen, Unternehmen, rechtlich selbstständige Organisationseinheiten oder Personen übermittelt oder sie ihnen gegenüber offengelegt werden. Zu den Empfängern dieser Daten können z.B. mit IT-Aufgaben beauftragte Dienstleister oder Anbieter von Diensten und Inhalten, die in eine Webseite eingebunden werden, gehören. In solchen Fällen beachten wir die gesetzlichen Vorgaben und schließen insbesondere entsprechende Verträge bzw. Vereinbarungen, die dem Schutz Ihrer Daten dienen, mit den Empfängern Ihrer Daten ab.

## Internationale Datentransfers

Datenverarbeitung in Drittländern: Sofern wir Daten in einem Drittland (d.h., außerhalb der Europäischen Union (EU), des Europäischen Wirtschaftsraums (EWR)) verarbeiten oder die Verarbeitung im Rahmen der Inanspruchnahme von Diensten Dritter oder der Offenlegung bzw. Übermittlung von Daten an andere Personen, Stellen oder Unternehmen stattfindet, erfolgt dies nur im Einklang mit den gesetzlichen Vorgaben.

Vorbehaltlich ausdrücklicher Einwilligung oder vertraglich oder gesetzlich erforderlicher Übermittlung (s. Art. 49 DSGVO) verarbeiten oder lassen wir die Daten nur in Drittländern mit einem anerkannten Datenschutzniveau (Art. 45 DSGVO), beim Vorliegen und Einhaltung vertraglichen Verpflichtung durch sogenannte Standardschutzklauseln der EU-Kommission (Art. 46 DSGVO) oder beim Vorliegen von Zertifizierungen oder verbindlicher internen Datenschutzvorschriften (s. Art. 44 bis 49 DSGVO, Informationsseite der EU-Kommission: https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection%5Fde).

Trans-Atlantic Data Privacy Framework (TADPF): Im Rahmen des sogenannten „Data Privacy Framework” (DPF) wurde in der EU das Datenschutzniveau ebenfalls für bestimmte Unternehmen aus den USA anerkannt. Die Liste der zertifizierten Unternehmen als auch weitere Informationen zu dem DPF können Sie der Webseite des Handelsministeriums der USA unter https://www.dataprivacyframework.gov/ (in Englisch) entnehmen. Informationen in deutscher und in anderen Sprachen finden Sie auf der Webseite der EU-Kommission: https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection/eu-us-data-transfers%5Fde Wir informieren Sie ferner über die von uns eingesetzten Unternehmen, die unter dem Data Privacy Framework zertifiziert sind.

## Löschung von Daten

Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen Vorgaben gelöscht, sobald deren zur Verarbeitung erlaubten Einwilligungen widerrufen werden oder sonstige Erlaubnisse entfallen (z.B. wenn der Zweck der Verarbeitung dieser Daten entfallen ist oder sie für den Zweck nicht erforderlich sind). Sofern die Daten nicht gelöscht werden, weil sie für andere und gesetzlich zulässige Zwecke erforderlich sind, wird deren Verarbeitung auf diese Zwecke beschränkt. D.h., die Daten werden gesperrt und nicht für andere Zwecke verarbeitet. Das gilt z.B. für Daten, die aus handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen oder deren Speicherung zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person erforderlich ist.

Im Rahmen unserer Datenschutzhinweise können wir den Nutzern weitere Informationen zu der Löschung sowie zu der Aufbewahrung von Daten mitteilen, die speziell für die jeweiligen Verarbeitungsprozesses gelten.

## Rechte der betroffenen Personen

Rechte der betroffenen Personen aus der DSGVO: Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu, die sich insbesondere aus Art. 15 bis 21 DSGVO ergeben:

* **Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling. Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.**
* **Widerrufsrecht bei Einwilligungen:** Sie haben das Recht, erteilte Einwilligungen jederzeit zu widerrufen.
* **Auskunftsrecht:** Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob betreffende Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen und Kopie der Daten entsprechend den gesetzlichen Vorgaben.
* **Recht auf Berichtigung:** Sie haben entsprechend den gesetzlichen Vorgaben das Recht, die Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen Daten zu verlangen.
* **Recht auf Löschung und Einschränkung der Verarbeitung:** Sie haben nach Maßgabe der gesetzlichen Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten unverzüglich gelöscht werden, bzw. alternativ nach Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung der Daten zu verlangen.
* **Recht auf Datenübertragbarkeit:** Sie haben das Recht, Sie betreffende Daten, die Sie uns bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen zu fordern.
* **Beschwerde bei Aufsichtsbehörde:** Entsprechend den gesetzlichen Vorgaben und unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs, haben Sie ferner das Recht, bei einer Datenschutzaufsichtsbehörde, insbesondere einer Aufsichtsbehörde im Mitgliedstaat, in dem Sie sich gewöhnlich aufhalten, der Aufsichtsbehörde Ihres Arbeitsplatzes oder des Ortes des mutmaßlichen Verstoßes, eine Beschwerde einzulegen, wenn Sie der Ansicht sei sollten, dass die Verarbeitung der Ihre Person betreffenden personenbezogenen Daten gegen die DSGVO verstößt.

## Einsatz von Cookies

Cookies sind kleine Textdateien, bzw. sonstige Speichervermerke, die Informationen auf Endgeräten speichern und Informationen aus den Endgeräten auslesen. Z.B. um den Login-Status in einem Nutzerkonto, einen Warenkorbinhalt in einem E-Shop, die aufgerufenen Inhalte oder verwendete Funktionen eines Onlineangebotes speichern. Cookies können ferner zu unterschiedlichen Zwecken eingesetzt werden, z.B. zu Zwecken der Funktionsfähigkeit, Sicherheit und Komfort von Onlineangeboten sowie der Erstellung von Analysen der Besucherströme.

**Hinweise zur Einwilligung:** Wir setzen Cookies im Einklang mit den gesetzlichen Vorschriften ein. Daher holen wir von den Nutzern eine vorhergehende Einwilligung ein, außer wenn diese gesetzlich nicht gefordert ist. Eine Einwilligung ist insbesondere nicht notwendig, wenn das Speichern und das Auslesen der Informationen, also auch von Cookies, unbedingt erforderlich sind, um dem den Nutzern einen von ihnen ausdrücklich gewünschten Telemediendienst (also unser Onlineangebot) zur Verfügung zu stellen. Zu den unbedingt erforderlichen Cookies gehören in der Regel Cookies mit Funktionen, die der Anzeige und Lauffähigkeit des Onlineangebotes , dem Lastausgleich, der Sicherheit, der Speicherung der Präferenzen und Auswahlmöglichkeiten der Nutzer oder ähnlichen mit der Bereitstellung der Haupt- und Nebenfunktionen des von den Nutzern angeforderten Onlineangebotes zusammenhängenden Zwecken dienen. Die widerrufliche Einwilligung wird gegenüber den Nutzern deutlich kommuniziert und enthält die Informationen zu der jeweiligen Cookie-Nutzung.

**Hinweise zu datenschutzrechtlichen Rechtsgrundlagen:** Auf welcher datenschutzrechtlichen Rechtsgrundlage wir die personenbezogenen Daten der Nutzer mit Hilfe von Cookies verarbeiten, hängt davon ab, ob wir Nutzer um eine Einwilligung bitten. Falls die Nutzer einwilligen, ist die Rechtsgrundlage der Verarbeitung Ihrer Daten die erklärte Einwilligung. Andernfalls werden die mithilfe von Cookies verarbeiteten Daten auf Grundlage unserer berechtigten Interessen (z.B. an einem betriebswirtschaftlichen Betrieb unseres Onlineangebotes und Verbesserung seiner Nutzbarkeit) verarbeitet oder, wenn dies im Rahmen der Erfüllung unserer vertraglichen Pflichten erfolgt, wenn der Einsatz von Cookies erforderlich ist, um unsere vertraglichen Verpflichtungen zu erfüllen. Zu welchen Zwecken die Cookies von uns verarbeitet werden, darüber klären wir im Laufe dieser Datenschutzerklärung oder im Rahmen von unseren Einwilligungs- und Verarbeitungsprozessen auf.

**Speicherdauer:** Im Hinblick auf die Speicherdauer werden die folgenden Arten von Cookies unterschieden:

* **Temporäre Cookies (auch: Session- oder Sitzungs-Cookies):** Temporäre Cookies werden spätestens gelöscht, nachdem ein Nutzer ein Online-Angebot verlassen und sein Endgerät (z.B. Browser oder mobile Applikation) geschlossen hat.
* **Permanente Cookies:** Permanente Cookies bleiben auch nach dem Schließen des Endgerätes gespeichert. So können beispielsweise der Login-Status gespeichert oder bevorzugte Inhalte direkt angezeigt werden, wenn der Nutzer eine Website erneut besucht. Ebenso können die mit Hilfe von Cookies erhobenen Daten der Nutzer zur Reichweitenmessung verwendet werden. Sofern wir Nutzern keine expliziten Angaben zur Art und Speicherdauer von Cookies mitteilen (z. B. im Rahmen der Einholung der Einwilligung), sollten Nutzer davon ausgehen, dass Cookies permanent sind und die Speicherdauer bis zu zwei Jahre betragen kann.

**Allgemeine Hinweise zum Widerruf und Widerspruch (sog. "Opt-Out"):** Nutzer können die von ihnen abgegebenen Einwilligungen jederzeit widerrufen und der Verarbeitung entsprechend den gesetzlichen Vorgaben widersprechen. Hierzu können Nutzer unter anderem die Verwendung von Cookies in den Einstellungen ihres Browsers einschränken (wobei dadurch auch die Funktionalität unseres Onlineangebotes eingeschränkt sein kann). Ein Widerspruch gegen die Verwendung von Cookies zu Online-Marketing-Zwecken kann auch über die Websites https://optout.aboutads.info und https://www.youronlinechoices.com/ erklärt werden.

* **Verarbeitete Datenarten:** Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).
* **Betroffene Personen:** Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
* **Zwecke der Verarbeitung:** Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.
* **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO).

**Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:**

* **Verarbeitung von Cookie-Daten auf Grundlage einer Einwilligung:** Wir setzen ein Verfahren zum Cookie-Einwilligungs-Management ein, in dessen Rahmen die Einwilligungen der Nutzer in den Einsatz von Cookies, bzw. der im Rahmen des Cookie-Einwilligungs-Management-Verfahrens genannten Verarbeitungen und Anbieter eingeholt sowie von den Nutzern verwaltet und widerrufen werden können. Hierbei wird die Einwilligungserklärung gespeichert, um deren Abfrage nicht erneut wiederholen zu müssen und die Einwilligung entsprechend der gesetzlichen Verpflichtung nachweisen zu können. Die Speicherung kann serverseitig und/oder in einem Cookie (sogenanntes Opt-In-Cookie, bzw. mithilfe vergleichbarer Technologien) erfolgen, um die Einwilligung einem Nutzer, bzw. dessen Gerät zuordnen zu können. Vorbehaltlich individueller Angaben zu den Anbietern von Cookie-Management-Diensten, gelten die folgenden Hinweise: Die Dauer der Speicherung der Einwilligung kann bis zu zwei Jahren betragen. Hierbei wird ein pseudonymer Nutzer-Identifikator gebildet und mit dem Zeitpunkt der Einwilligung, Angaben zur Reichweite der Einwilligung (z. B. welche Kategorien von Cookies und/oder Diensteanbieter) sowie dem Browser, System und verwendeten Endgerät gespeichert; **Rechtsgrundlagen:** Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO).
* **Cookie-Opt-Out:** In der Fußzeile unserer Website finden Sie einen Link, über den Sie Ihre Cookie-Einstellungen ändern und entsprechende Einwilligungen widerrufen können; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

Cookie-Einstellungen

## Geschäftliche Leistungen

Wir verarbeiten Daten unserer Vertrags- und Geschäftspartner, z.B. Kunden und Interessenten (zusammenfassend bezeichnet als "Vertragspartner") im Rahmen von vertraglichen und vergleichbaren Rechtsverhältnissen sowie damit verbundenen Maßnahmen und im Rahmen der Kommunikation mit den Vertragspartnern (oder vorvertraglich), z.B., um Anfragen zu beantworten.

Wir verarbeiten diese Daten, um unsere vertraglichen Verpflichtungen zu erfüllen. Dazu gehören insbesondere die Verpflichtungen zur Erbringung der vereinbarten Leistungen, etwaige Aktualisierungspflichten und Abhilfe bei Gewährleistungs- und sonstigen Leistungsstörungen. Darüber hinaus verarbeiten wir die Daten zur Wahrung unserer Rechte und zum Zwecke der mit diesen Pflichten verbundenen Verwaltungsaufgaben sowie der Unternehmensorganisation. Darüber hinaus verarbeiten wir die Daten auf Grundlage unserer berechtigten Interessen an einer ordnungsgemäßen und betriebswirtschaftlichen Geschäftsführung sowie an Sicherheitsmaßnahmen zum Schutz unserer Vertragspartner und unseres Geschäftsbetriebes vor Missbrauch, Gefährdung ihrer Daten, Geheimnisse, Informationen und Rechte (z.B. zur Beteiligung von Telekommunikations-, Transport- und sonstigen Hilfsdiensten sowie Subunternehmern, Banken, Steuer- und Rechtsberatern, Zahlungsdienstleistern oder Finanzbehörden). Im Rahmen des geltenden Rechts geben wir die Daten von Vertragspartnern nur insoweit an Dritte weiter, als dies für die vorgenannten Zwecke oder zur Erfüllung gesetzlicher Pflichten erforderlich ist. Über weitere Formen der Verarbeitung, z.B. zu Marketingzwecken, werden die Vertragspartner im Rahmen dieser Datenschutzerklärung informiert.

Welche Daten für die vorgenannten Zwecke erforderlich sind, teilen wir den Vertragspartnern vor oder im Rahmen der Datenerhebung, z.B. in Onlineformularen, durch besondere Kennzeichnung (z.B. Farben) bzw. Symbole (z.B. Sternchen o.ä.), oder persönlich mit.

Wir löschen die Daten nach Ablauf gesetzlicher Gewährleistungs- und vergleichbarer Pflichten, d.h., grundsätzlich nach Ablauf von 4 Jahren, es sei denn, dass die Daten in einem Kundenkonto gespeichert werden, z.B., solange sie aus gesetzlichen Gründen der Archivierung aufbewahrt werden müssen. Die gesetzliche Aufbewahrungsfrist beträgt bei steuerrechtlich relevanten Unterlagen sowie bei Handelsbüchern, Inventaren, Eröffnungsbilanzen, Jahresabschlüssen, die zum Verständnis dieser Unterlagen erforderlichen Arbeitsanweisungen und sonstigen Organisationsunterlagen und Buchungsbelegen zehn Jahre sowie bei empfangenen Handels- und Geschäftsbriefen und Wiedergaben der abgesandten Handels- und Geschäftsbriefe sechs Jahre. Die Frist beginnt mit Ablauf des Kalenderjahres, in dem die letzte Eintragung in das Buch gemacht, das Inventar, die Eröffnungsbilanz, der Jahresabschluss oder der Lagebericht aufgestellt, der Handels- oder Geschäftsbrief empfangen oder abgesandt worden oder der Buchungsbeleg entstanden ist, ferner die Aufzeichnung vorgenommen worden ist oder die sonstigen Unterlagen entstanden sind.

Soweit wir zur Erbringung unserer Leistungen Drittanbieter oder Plattformen einsetzen, gelten im Verhältnis zwischen den Nutzern und den Anbietern die Geschäftsbedingungen und Datenschutzhinweise der jeweiligen Drittanbieter oder Plattformen.

* **Verarbeitete Datenarten:** Bestandsdaten (z.B. Namen, Adressen); Zahlungsdaten (z.B. Bankverbindungen, Rechnungen, Zahlungshistorie); Kontaktdaten (z.B. E-Mail, Telefonnummern); Vertragsdaten (z.B. Vertragsgegenstand, Laufzeit, Kundenkategorie).
* **Besondere Kategorien personenbezogener Daten:** Gesundheitsdaten (Art. 9 Abs. 1 DGSVO); Daten zum Sexualleben oder der sexuellen Orientierung (Art. 9 Abs. 1 DGSVO); Religiöse oder weltanschauliche Überzeugungen (Art. 9 Abs. 1 DGSVO); Daten, aus denen die rassische und ethnische Herkunft hervorgehen (Art. 9 Abs. 1 DGSVO).
* **Betroffene Personen:** Interessenten; Geschäfts- und Vertragspartner.
* **Zwecke der Verarbeitung:** Erbringung vertraglicher Leistungen und Kundenservice; Kontaktanfragen und Kommunikation; Büro- und Organisationsverfahren; Verwaltung und Beantwortung von Anfragen.
* **Rechtsgrundlagen:** Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO); Rechtliche Verpflichtung (Art. 6 Abs. 1 S. 1 lit. c) DSGVO); Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

**Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:**

* **Agenturdienstleistungen:** Wir verarbeiten die Daten unserer Kunden im Rahmen unserer vertraglichen Leistungen, zu denen z.B. konzeptionelle und strategische Beratung, Kampagnenplanung, Software- und Designentwicklung/-beratung oder -pflege, Umsetzung von Kampagnen und Prozessen, Handling, Serveradministration, Datenanalyse/ Beratungsleistungen und Schulungsleistungen gehören können; **Rechtsgrundlagen:** Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).
* **Coaching:** Wir verarbeiten die Daten unserer Klienten sowie Interessenten und anderer Auftraggeber oder Vertragspartner (einheitlich bezeichnet als "Klienten“), um ihnen gegenüber unsere Leistungen erbringen zu können. Die verarbeiteten Daten, die Art, der Umfang, der Zweck und die Erforderlichkeit ihrer Verarbeitung bestimmen sich nach dem zugrundeliegenden Vertrags- und Klientenverhältnis. In Rahmen unserer Tätigkeit können wir ferner besondere Kategorien von Daten, hier insbesondere Angaben zur Gesundheit der Klienten, ggf. mit Bezug zu deren Sexualleben oder der sexuellen Orientierung, sowie Daten, aus denen die rassische und ethnische Herkunft, politische Meinungen, religiöse oder weltanschauliche Überzeugungen oder die Gewerkschaftszugehörigkeit hervorgehen, verarbeiten. Hierzu holen wir, sofern erforderlich, eine ausdrückliche Einwilligung der Klienten ein und verarbeiten die besonderen Kategorien von Daten ansonsten sofern dies der Gesundheit der Klienten dient, die Daten öffentlich sind oder andere gesetzliche Erlaubnisse vorliegen. Sofern es für unsere Vertragserfüllung, zum Schutz lebenswichtiger Interessen oder gesetzlich erforderlich ist, bzw. eine Einwilligung der Klienten vorliegt, offenbaren oder übermitteln wir die Daten der Klienten unter Beachtung der berufsrechtlichen Vorgaben an Dritte oder Beauftragte, wie z.B. Behörden, Abrechnungsstellen sowie im Bereich der IT, der Büro- oder vergleichbarer Dienstleistungen; **Rechtsgrundlagen:** Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).
* **Consulting:** Wir verarbeiten die Daten unserer Klienten, Mandanten sowie Interessenten und anderer Auftraggeber oder Vertragspartner (einheitlich bezeichnet als "Klienten“), um ihnen gegenüber unsere Beratungsleistungen erbringen zu können. Die verarbeiteten Daten, die Art, der Umfang, der Zweck und die Erforderlichkeit ihrer Verarbeitung bestimmen sich nach dem zugrundeliegenden Vertrags- und Klientenverhältnis. Sofern es für unsere Vertragserfüllung, zum Schutz lebenswichtiger Interessen oder gesetzlich erforderlich ist, bzw. eine Einwilligung der Klienten vorliegt, offenbaren oder übermitteln wir die Daten der Klienten unter Beachtung der berufsrechtlichen Vorgaben an Dritte oder Beauftragte, wie z.B. Behörden, Subunternehmer oder im Bereich der IT, der Büro- oder vergleichbarer Dienstleistungen; **Rechtsgrundlagen:** Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).

## Im Rahmen der Geschäftstätigkeit eingesetzte Anbieter und Services

Im Rahmen unserer Geschäftstätigkeit nutzen wir unter Beachtung der gesetzlichen Vorgaben zusätzliche Dienste, Plattformen, Schnittstellen oder Plug-ins von Drittanbietern (kurz "Dienste"). Deren Nutzung beruht auf unseren Interessen an einer ordnungsgemäßen, rechtmäßigen und wirtschaftlichen Führung unseres Geschäftsbetriebs und unserer internen Organisation.

* **Verarbeitete Datenarten:** Bestandsdaten (z.B. Namen, Adressen); Zahlungsdaten (z.B. Bankverbindungen, Rechnungen, Zahlungshistorie); Kontaktdaten (z.B. E-Mail, Telefonnummern); Inhaltsdaten (z.B. Eingaben in Onlineformularen); Vertragsdaten (z.B. Vertragsgegenstand, Laufzeit, Kundenkategorie).
* **Betroffene Personen:** Kunden; Interessenten; Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten); Geschäfts- und Vertragspartner.
* **Zwecke der Verarbeitung:** Erbringung vertraglicher Leistungen und Kundenservice; Büro- und Organisationsverfahren.
* **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

**Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:**

* **sevDesk:** Online-Software für Rechnungsstellung, Buchhaltung, Banking und Steuereinreichung mit Belegspeicherung; **Dienstanbieter:** sevDesk GmbH, Hauptstraße 115, 77652 Offenburg, Deutschland; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://sevdesk.de/; **Datenschutzerklärung:** https://sevdesk.de/sicherheit-datenschutz/; **Auftragsverarbeitungsvertrag:** https://sevdesk.de/sicherheit-datenschutz/.

## Bereitstellung des Onlineangebotes und Webhosting

Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur Verfügung stellen zu können. Zu diesem Zweck verarbeiten wir die IP-Adresse des Nutzers, die notwendig ist, um die Inhalte und Funktionen unserer Online-Dienste an den Browser oder das Endgerät der Nutzer zu übermitteln.

* **Verarbeitete Datenarten:** Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus); Inhaltsdaten (z.B. Eingaben in Onlineformularen).
* **Betroffene Personen:** Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
* **Zwecke der Verarbeitung:** Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit; Informationstechnische Infrastruktur (Betrieb und Bereitstellung von Informationssystemen und technischen Geräten (Computer, Server etc.).); Sicherheitsmaßnahmen; Content Delivery Network (CDN); Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher); Profile mit nutzerbezogenen Informationen (Erstellen von Nutzerprofilen).
* **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO); Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).

**Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:**

* **Bereitstellung Onlineangebot auf gemietetem Speicherplatz:** Für die Bereitstellung unseres Onlineangebotes nutzen wir Speicherplatz, Rechenkapazität und Software, die wir von einem entsprechenden Serveranbieter (auch "Webhoster" genannt) mieten oder anderweitig beziehen; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
* **Erhebung von Zugriffsdaten und Logfiles:** Der Zugriff auf unser Onlineangebot wird in Form von so genannten "Server-Logfiles" protokolliert. Zu den Serverlogfiles können die Adresse und Name der abgerufenen Webseiten und Dateien, Datum und Uhrzeit des Abrufs, übertragene Datenmengen, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite) und im Regelfall IP-Adressen und der anfragende Provider gehören. Die Serverlogfiles können zum einen zu Zwecken der Sicherheit eingesetzt werden, z.B., um eine Überlastung der Server zu vermeiden (insbesondere im Fall von missbräuchlichen Angriffen, sogenannten DDoS-Attacken) und zum anderen, um die Auslastung der Server und ihre Stabilität sicherzustellen; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Löschung von Daten:** Logfile-Informationen werden für die Dauer von maximal 30 Tagen gespeichert und danach gelöscht oder anonymisiert. Daten, deren weitere Aufbewahrung zu Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung des jeweiligen Vorfalls von der Löschung ausgenommen.
* **Cloudflare:** Content-Delivery-Network (CDN) - Dienst, mit dessen Hilfe Inhalte eines Onlineangebotes, insbesondere große Mediendateien, wie Grafiken oder Programm-Skripte mit Hilfe regional verteilter und über das Internet verbundener Server, schneller und sicherer ausgeliefert werden können; **Dienstanbieter:** Cloudflare, Inc., 101 Townsend St, San Francisco, CA 94107, USA; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://www.cloudflare.com; **Datenschutzerklärung:** https://www.cloudflare.com/privacypolicy/; **Auftragsverarbeitungsvertrag:** https://www.cloudflare.com/cloudflare-customer-dpa; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://www.cloudflare.com/cloudflare-customer-scc.
* **HubSpot:** Marketingsoftware zu Lead-Generierung, Marketing-Automatisierung und Analyse; **Dienstanbieter:** HubSpot, Inc., 25 First St., 2nd floor, Cambridge, Massachusetts 02141, USA; **Rechtsgrundlagen:** Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO); **Website:** https://www.hubspot.de; **Datenschutzerklärung:** https://legal.hubspot.com/de/privacy-policy; **Auftragsverarbeitungsvertrag:** https://legal.hubspot.com/dpa; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://legal.hubspot.com/dpa.
* **HubSpot:** Kundenmanagement sowie Prozess- und Vertriebsunterstützung mit personalisierter Kundenbetreuung mit Multi-Channel-Kommunikation, d.h. Management von Kundenanfragen aus verschiedenen Kanälen sowie mit Analyse- und Feedbackfunktionen; **Dienstanbieter:** HubSpot, Inc., 25 First St., 2nd floor, Cambridge, Massachusetts 02141, USA; **Rechtsgrundlagen:** Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://www.hubspot.de; **Datenschutzerklärung:** https://legal.hubspot.com/de/privacy-policy; **Auftragsverarbeitungsvertrag:** https://legal.hubspot.com/dpa; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://legal.hubspot.com/dpa.
* **HubSpot:** Social Media Publishing, Reporting (z.B. Traffic-Quellen, Zugriffszahlen, Webanalyse), Kontaktmanagement (z.B. Kontaktformulare, Direktkommunikation und Nutzersegmentierung), Landing Pages; **Dienstanbieter:** HubSpot, Inc., 25 First St., 2nd floor, Cambridge, Massachusetts 02141, USA; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://www.hubspot.de; **Datenschutzerklärung:** https://legal.hubspot.com/de/privacy-policy; **Auftragsverarbeitungsvertrag:** https://legal.hubspot.com/dpa; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://legal.hubspot.com/dpa.
* **HubSpot:** Chatbot- und Assistenz-Software sowie verbundene Dienste; **Dienstanbieter:** HubSpot, Inc., 25 First St., 2nd floor, Cambridge, Massachusetts 02141, USA; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://www.hubspot.de; **Datenschutzerklärung:** https://legal.hubspot.com/de/privacy-policy; **Auftragsverarbeitungsvertrag:** https://legal.hubspot.com/dpa; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://legal.hubspot.com/dpa.
* **HubSpot:** E-Mail-Versand- und Automatisierungsdienste; **Dienstanbieter:** HubSpot, Inc., 25 First St., 2nd floor, Cambridge, Massachusetts 02141, USA; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://www.hubspot.de; **Datenschutzerklärung:** https://legal.hubspot.com/de/privacy-policy; **Auftragsverarbeitungsvertrag:** https://legal.hubspot.com/dpa; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://legal.hubspot.com/dpa.

## Blogs und Publikationsmedien

Wir nutzen Blogs oder vergleichbare Mittel der Onlinekommunikation und Publikation (nachfolgend "Publikationsmedium"). Die Daten der Leser werden für die Zwecke des Publikationsmediums nur insoweit verarbeitet, als es für dessen Darstellung und die Kommunikation zwischen Autoren und Lesern oder aus Gründen der Sicherheit erforderlich ist. Im Übrigen verweisen wir auf die Informationen zur Verarbeitung der Besucher unseres Publikationsmediums im Rahmen dieser Datenschutzhinweise.

* **Verarbeitete Datenarten:** Bestandsdaten (z.B. Namen, Adressen); Kontaktdaten (z.B. E-Mail, Telefonnummern); Inhaltsdaten (z.B. Eingaben in Onlineformularen); Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
* **Betroffene Personen:** Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
* **Zwecke der Verarbeitung:** Erbringung vertraglicher Leistungen und Kundenservice; Feedback (z.B. Sammeln von Feedback via Online-Formular); Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.
* **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

## Kontakt- und Anfragenverwaltung

Bei der Kontaktaufnahme mit uns (z.B. per Post, Kontaktformular, E-Mail, Telefon oder via soziale Medien) sowie im Rahmen bestehender Nutzer- und Geschäftsbeziehungen werden die Angaben der anfragenden Personen verarbeitet soweit dies zur Beantwortung der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist.

* **Verarbeitete Datenarten:** Kontaktdaten (z.B. E-Mail, Telefonnummern); Inhaltsdaten (z.B. Eingaben in Onlineformularen); Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
* **Betroffene Personen:** Kommunikationspartner.
* **Zwecke der Verarbeitung:** Kontaktanfragen und Kommunikation; Verwaltung und Beantwortung von Anfragen; Feedback (z.B. Sammeln von Feedback via Online-Formular); Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.
* **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).

**Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:**

* **Kontaktformular:** Wenn Nutzer über unser Kontaktformular, E-Mail oder andere Kommunikationswege mit uns in Kontakt treten, verarbeiten wir die uns in diesem Zusammenhang mitgeteilten Daten zur Bearbeitung des mitgeteilten Anliegens; **Rechtsgrundlagen:** Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
* **HubSpot:** Kundenmanagement sowie Prozess- und Vertriebsunterstützung mit personalisierter Kundenbetreuung mit Multi-Channel-Kommunikation, d.h. Management von Kundenanfragen aus verschiedenen Kanälen sowie mit Analyse- und Feedbackfunktionen; **Dienstanbieter:** HubSpot, Inc., 25 First St., 2nd floor, Cambridge, Massachusetts 02141, USA; **Rechtsgrundlagen:** Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://www.hubspot.de; **Datenschutzerklärung:** https://legal.hubspot.com/de/privacy-policy; **Auftragsverarbeitungsvertrag:** https://legal.hubspot.com/dpa; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://legal.hubspot.com/dpa.

## Chatbots und Chatfunktionen

Wir bieten als Kommunikationsmöglichkeit Online-Chats und Chatbot-Funktionen an (zusammen als "Chat-Dienste" bezeichnet). Bei einem Chat handelt es sich um eine mit gewisser Zeitnähe geführte Online-Unterhaltung. Bei einem Chatbot handelt es sich um eine Software, die Fragen der Nutzer beantwortet oder sie über Nachrichten informiert. Wenn Sie unsere Chat-Funktionen nutzen, können wir Ihre personenbezogenen Daten verarbeiten.

Falls Sie unsere Chat-Dienste innerhalb einer Online-Plattform nutzen, wird zusätzlich Ihre Identifikationsnummer innerhalb der jeweiligen Plattform gespeichert. Wir können zudem Informationen darüber erheben, welche Nutzer wann mit unseren Chat-Diensten interagieren. Ferner speichern wir den Inhalt Ihrer Konversationen über die Chat-Dienste und protokollieren Registrierungs- und Einwilligungsvorgänge, um diese nach gesetzlichen Vorgaben nachweisen zu können.

Wir weisen Nutzer darauf hin, dass der jeweilige Plattformanbieter in Erfahrung bringen kann, dass und wann Nutzer mit unseren Chat-Diensten kommunizieren sowie technische Informationen zum verwendeten Gerät der Nutzer und je nach Einstellungen ihres Gerätes auch Standortinformationen (sogenannte Metadaten) zu Zwecken der Optimierung der jeweiligen Dienste und Zwecken der Sicherheit erheben kann. Ebenfalls könnten die Metadaten der Kommunikation via Chat-Diensten (d.h. z.B., die Information, wer mit wem kommuniziert hat) durch die jeweiligen Plattformanbieter nach Maßgabe ihrer Bestimmungen, auf die wir zwecks weiterer Information verweisen, für Zwecke des Marketings oder zur Anzeige auf Nutzer zugeschnittener Werbung verwendet werden.

Sofern Nutzer sich gegenüber einem Chatbot bereiterklären, Informationen mit regelmäßigen Nachrichten zu aktivieren, steht ihnen jederzeit die Möglichkeit zur Verfügung, die Informationen für die Zukunft abzubestellen. Der Chatbot weist Nutzer darauf hin, wie und mit welchen Begriffen sie die Nachrichten abbestellen können. Mit dem Abbestellen der Chatbotnachrichten werden Daten der Nutzer aus dem Verzeichnis der Nachrichtenempfänger gelöscht.

Die vorgenannten Angaben nutzen wir, um unsere Chat-Dienste zu betreiben, z.B., um Nutzer persönlich anzusprechen, um ihre Anfragen zu beantworten, etwaige angeforderte Inhalte zu übermitteln und auch, um unsere Chat-Dienste zu verbessern (z.B., um Chatbots Antworten auf häufig gestellte Fragen "beizubringen“ oder unbeantwortete Anfragen zu erkennen).

**Hinweise zu Rechtsgrundlagen:** Wir setzen die Chat-Dienste auf Grundlage einer Einwilligung ein, wenn wir zuvor eine Erlaubnis der Nutzer in die Verarbeitung ihrer Daten im Rahmen unserer Chat-Dienste eingeholt haben (dies gilt für die Fälle, in denen Nutzer um eine Einwilligung gebeten werden, z.B., damit ein Chatbot ihnen regelmäßig Nachrichten zusendet). Sofern wir Chat-Dienste einsetzen, um Anfragen der Nutzer zu unseren Leistungen oder unserem Unternehmen zu beantworten, erfolgt dies zur vertraglichen und vorvertraglichen Kommunikation. Im Übrigen setzen wir Chat-Dienste auf Grundlage unserer berechtigten Interessen an einer Optimierung der Chat-Dienste, ihrer Betriebswirtschaftlichkeit sowie einer Steigerung der positiven Nutzererfahrung ein.

**Widerruf, Widerspruch und Löschung:** Sie können jederzeit eine erteilte Einwilligung widerrufen oder der Verarbeitung Ihrer Daten im Rahmen unserer Chat-Dienste widersprechen.

* **Verarbeitete Datenarten:** Kontaktdaten (z.B. E-Mail, Telefonnummern); Inhaltsdaten (z.B. Eingaben in Onlineformularen); Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
* **Betroffene Personen:** Kommunikationspartner.
* **Zwecke der Verarbeitung:** Kontaktanfragen und Kommunikation; Direktmarketing (z.B. per E-Mail oder postalisch).
* **Rechtsgrundlagen:** Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO); Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO); Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

**Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:**

* **HubSpot:** Chatbot- und Assistenz-Software sowie verbundene Dienste; **Dienstanbieter:** HubSpot, Inc., 25 First St., 2nd floor, Cambridge, Massachusetts 02141, USA; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://www.hubspot.de; **Datenschutzerklärung:** https://legal.hubspot.com/de/privacy-policy; **Auftragsverarbeitungsvertrag:** https://legal.hubspot.com/dpa; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://legal.hubspot.com/dpa.

## Videokonferenzen, Onlinemeetings, Webinare und Bildschirm-Sharing

Wir setzen Plattformen und Anwendungen anderer Anbieter (nachfolgend bezeichnet als “Konferenzplattformen”) zu Zwecken der Durchführung von Video- und Audio-Konferenzen, Webinaren und sonstigen Arten von Video und Audio-Meetings (nachfolgend zusammenfassend bezeichnet als "Konferenz") ein. Bei der Auswahl der Konferenzplattformen und ihrer Leistungen beachten wir die gesetzlichen Vorgaben.

**Durch Konferenzplattformen verarbeitete Daten:** Im Rahmen der Teilnahme an einer Konferenz verarbeiten die Konferenzplattformen die im Folgenden genannten personenbezogene Daten der Teilnehmer. Der Umfang der Verarbeitung hängt zum einen davon ab, welche Daten im Rahmen einer konkreten Konferenz gefordert werden (z.B. Angabe von Zugangsdaten oder Klarnamen) und welche optionalen Angaben durch die Teilnehmer getätigt werden. Neben der Verarbeitung zur Durchführung der Konferenz, können die Daten der Teilnehmer durch die Konferenzplattformen ebenfalls zu Sicherheitszwecken oder Serviceoptimierung verarbeitet werden. Zu den verarbeiteten Daten gehören Daten zur Person (Vorname, Nachname), Kontaktinformationen (E-Mail-Adresse, Telefonnummer), Zugangsdaten (Zugangscodes oder Passwörter), Profilbilder, Angaben zur beruflichen Stellung/Funktion, die IP-Adresse des Internetzugangs, Angaben zu den Endgeräten der Teilnehmer, deren Betriebssystem, dem Browser und dessen technischen und sprachlichen Einstellungen, Informationen zu den inhaltlichen Kommunikationsvorgängen, d.h. Eingaben in Chats sowie Audio- und Videodaten, als auch die Nutzung anderer zur Verfügung stehender Funktionen (z.B. Umfragen). Inhalte der Kommunikationen werden in dem durch die Konferenzanbieter technisch bereitgestellten Umfang verschlüsselt. Wenn die Teilnehmer bei den Konferenzplattformen als Benutzer registriert sind, dann können weitere Daten entsprechend der Vereinbarung mit dem jeweiligen Konferenzanbieter verarbeitet werden.

**Protokollierung und Aufnahmen:** Falls Texteingaben, Teilnahmeergebnisse (z.B. von Umfragen) sowie Video- oder Audioaufnahmen protokolliert werden, wird dies den Teilnehmern im Vorwege transparent mitgeteilt und sie werden – soweit erforderlich – um eine Zustimmung gebeten.

**Datenschutzmaßnahmen der Teilnehmer:** Bitte beachten Sie zu den Details der Verarbeitung Ihrer Daten durch die Konferenzplattformen deren Datenschutzhinweise und wählen im Rahmen der Einstellungen der Konferenzplattformen, die für Sie optimalen Sicherheits- und Datenschutzeinstellungen. Bitte sorgen Sie ferner für die Dauer einer Videokonferenz für den Daten- und Persönlichkeitsschutz im Hintergrund Ihrer Aufnahme (z.B. durch Hinweise an Mitbewohner, Abschließen von Türen und Nutzung, soweit technisch möglich, der Funktion zur Unkenntlichmachung des Hintergrunds). Links zu den Konferenzräumen sowie Zugangsdaten, dürfen nicht an unberechtigte Dritte weitergegeben werden.

**Hinweise zu Rechtsgrundlagen:** Sofern neben den Konferenzplattformen auch wir die Daten der Nutzer verarbeiten und die Nutzer um deren Einwilligung in den Einsatz der Konferenzplattformen oder bestimmter Funktionen bitten (z. B. Einverständnis mit einer Aufzeichnung von Konferenzen), ist die Rechtsgrundlage der Verarbeitung diese Einwilligung. Ferner kann unsere Verarbeitung zur Erfüllung unserer vertraglichen Pflichten erforderlich sein (z.B. in Teilnehmerlisten, im Fall von Aufarbeitung von Gesprächsergebnissen, etc.). Im Übrigen werden die Daten der Nutzer auf Grundlage unserer berechtigten Interessen an einer effizienten und sicheren Kommunikation mit unseren Kommunikationspartnern verarbeitet.

* **Verarbeitete Datenarten:** Bestandsdaten (z.B. Namen, Adressen); Kontaktdaten (z.B. E-Mail, Telefonnummern); Inhaltsdaten (z.B. Eingaben in Onlineformularen); Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
* **Betroffene Personen:** Kommunikationspartner; Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten); Abgebildete Personen.
* **Zwecke der Verarbeitung:** Erbringung vertraglicher Leistungen und Kundenservice; Kontaktanfragen und Kommunikation; Büro- und Organisationsverfahren.
* **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

**Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:**

* **Google Hangouts / Meet:** Konferenz- und Kommunikationssoftware; **Dienstanbieter:** Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://hangouts.google.com/; **Datenschutzerklärung:** https://policies.google.com/privacy; **Auftragsverarbeitungsvertrag:** https://cloud.google.com/terms/data-processing-addendum; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://cloud.google.com/terms/eu-model-contract-clause.
* **Microsoft Teams:** Konferenz- und Kommunikationssoftware; **Dienstanbieter:** Microsoft Ireland Operations Limited, One Microsoft Place, South County Business Park, Leopardstown, Dublin 18, Irland, Mutterunternehmen: Microsoft Corporation, One Microsoft Way, Redmond, WA 98052-6399 USA; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://www.microsoft.com/de-de/microsoft-365; **Datenschutzerklärung:** https://privacy.microsoft.com/de-de/privacystatement, Sicherheitshinweise: https://www.microsoft.com/de-de/trustcenter; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://www.microsoft.com/licensing/docs/view/Microsoft-Products-and-Services-Data-Protection-Addendum-DPA.
* **Zoom:** Konferenz- und Kommunikationssoftware; **Dienstanbieter:** Zoom Video Communications, Inc., 55 Almaden Blvd., Suite 600, San Jose, CA 95113, USA; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://zoom.us; **Datenschutzerklärung:** https://zoom.us/docs/de-de/privacy-and-legal.html; **Auftragsverarbeitungsvertrag:** https://zoom.us/docs/de-de/privacy-and-legal.html (referred to as Global DPA); **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://zoom.us/docs/de-de/privacy-and-legal.html (Bezeichnet als Globale DPA).

## Cloud-Dienste

Wir nutzen über das Internet zugängliche und auf den Servern ihrer Anbieter ausgeführte Softwaredienste (sogenannte "Cloud-Dienste", auch bezeichnet als "Software as a Service") für die Speicherung und Verwaltung von Inhalten (z.B. Dokumentenspeicherung und -verwaltung, Austausch von Dokumenten, Inhalten und Informationen mit bestimmten Empfängern oder Veröffentlichung von Inhalten und Informationen).

In diesem Rahmen können personenbezogenen Daten verarbeitet und auf den Servern der Anbieter gespeichert werden, soweit diese Bestandteil von Kommunikationsvorgängen mit uns sind oder von uns sonst, wie im Rahmen dieser Datenschutzerklärung dargelegt, verarbeitet werden. Zu diesen Daten können insbesondere Stammdaten und Kontaktdaten der Nutzer, Daten zu Vorgängen, Verträgen, sonstigen Prozessen und deren Inhalte gehören. Die Anbieter der Cloud-Dienste verarbeiten ferner Nutzungsdaten und Metadaten, die von ihnen zu Sicherheitszwecken und zur Serviceoptimierung verwendet werden.

Sofern wir mit Hilfe der Cloud-Dienste für andere Nutzer oder öffentlich zugängliche Webseiten Formulare o.a. Dokumente und Inhalte bereitstellen, können die Anbieter Cookies auf den Geräten der Nutzer für Zwecke der Webanalyse oder, um sich Einstellungen der Nutzer (z.B. im Fall der Mediensteuerung) zu merken, speichern.

* **Verarbeitete Datenarten:** Bestandsdaten (z.B. Namen, Adressen); Kontaktdaten (z.B. E-Mail, Telefonnummern); Inhaltsdaten (z.B. Eingaben in Onlineformularen); Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
* **Betroffene Personen:** Kunden; Beschäftigte (z.B. Angestellte, Bewerber, ehemalige Mitarbeiter); Interessenten; Kommunikationspartner; Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
* **Zwecke der Verarbeitung:** Büro- und Organisationsverfahren; Informationstechnische Infrastruktur (Betrieb und Bereitstellung von Informationssystemen und technischen Geräten (Computer, Server etc.).).
* **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

**Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:**

* **Apple iCloud:** Cloud-Speicher-Dienst; **Dienstanbieter:** Apple Inc., Infinite Loop, Cupertino, CA 95014, USA; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://www.apple.com/de/; **Datenschutzerklärung:** https://www.apple.com/legal/privacy/de-ww/.
* **Google Cloud-Speicher:** Cloudspeicher, Cloudinfrastrukturdienste und cloudbasierte Anwendungssoftware; **Dienstanbieter:** Google Cloud EMEA Limited, 70 Sir John Rogerson’s Quay, Dublin 2, Irland; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://cloud.google.com/; **Datenschutzerklärung:** https://policies.google.com/privacy; **Auftragsverarbeitungsvertrag:** https://cloud.google.com/terms/data-processing-addendum; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://cloud.google.com/terms/eu-model-contract-clause; **Weitere Informationen:** https://cloud.google.com/privacy.
* **Google Workspace:** Cloudbasierte Anwendungssoftware (z.B. Text- und Tabellenberarbeitung, Termine- und Kontakteverwaltung), Cloudspeicher und Cloudinfrastrukturdienste; **Dienstanbieter:** Google Cloud EMEA Limited, 70 Sir John Rogerson’s Quay, Dublin 2, Irland; **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); **Website:** https://workspace.google.com/; **Datenschutzerklärung:** https://policies.google.com/privacy; **Auftragsverarbeitungsvertrag:** https://cloud.google.com/terms/data-processing-addendum; **Data Privacy Framework (DPF)**; **Standardvertragsklauseln:** https://cloud.google.com/terms/eu-model-contract-clause; **Weitere Informationen:** https://cloud.google.com/privacy.

## Newsletter und elektronische Benachrichtigungen

Wir versenden Newsletter, E-Mails und weitere elektronische Benachrichtigungen (nachfolgend "Newsletter“) nur mit der Einwilligung der Empfänger oder einer gesetzlichen Erlaubnis. Sofern im Rahmen einer Anmeldung zum Newsletter dessen Inhalte konkret umschrieben werden, sind sie für die Einwilligung der Nutzer maßgeblich. Im Übrigen enthalten unsere Newsletter Informationen zu unseren Leistungen und uns.

Um sich zu unseren Newslettern anzumelden, reicht es grundsätzlich aus, wenn Sie Ihre E-Mail-Adresse angeben. Wir können Sie jedoch bitten, einen Namen, zwecks persönlicher Ansprache im Newsletter, oder weitere Angaben, sofern diese für die Zwecke des Newsletters erforderlich sind, zu tätigen.

**Double-Opt-In-Verfahren:** Die Anmeldung zu unserem Newsletter erfolgt grundsätzlich in einem sogenannte Double-Opt-In-Verfahren. D.h., Sie erhalten nach der Anmeldung eine E-Mail, in der Sie um die Bestätigung Ihrer Anmeldung gebeten werden. Diese Bestätigung ist notwendig, damit sich niemand mit fremden E-Mail-Adressen anmelden kann. Die Anmeldungen zum Newsletter werden protokolliert, um den Anmeldeprozess entsprechend den rechtlichen Anforderungen nachweisen zu können. Hierzu gehört die Speicherung des Anmelde- und des Bestätigungszeitpunkts als auch der IP-Adresse. Ebenso werden die Änderungen Ihrer bei dem Versanddienstleister gespeicherten Daten protokolliert.

**Löschung und Einschränkung der Verarbeitung:**  Wir können die ausgetragenen E-Mail-Adressen bis zu drei Jahren auf Grundlage unserer berechtigten Interessen speichern, bevor wir sie löschen, um eine ehemals gegebene Einwilligung nachweisen zu können. Die Verarbeitung dieser Daten wird auf den Zweck einer möglichen Abwehr von Ansprüchen beschränkt. Ein individueller Löschungsantrag ist jederzeit möglich, sofern zugleich das ehemalige Bestehen einer Einwilligung bestätigt wird. Im Fall von Pflichten zur dauerhaften Beachtung von Widersprüchen behalten wir uns die Speicherung der E-Mail-Adresse alleine zu diesem Zweck in einer Sperrliste (sogenannte "Blocklist") vor.

Die Protokollierung des Anmeldeverfahrens erfolgt auf Grundlage unserer berechtigten Interessen zu Zwecken des Nachweises seines ordnungsgemäßen Ablaufs. Soweit wir einen Dienstleister mit dem Versand von E-Mails beauftragen, erfolgt dies auf Grundlage unserer berechtigten Interessen an einem effizienten und sicheren Versandsystem.

**Inhalte:**

Informationen zu uns, unseren Leistungen, Aktionen und Angeboten.

* **Verarbeitete Datenarten:** Bestandsdaten (z.B. Namen, Adressen); Kontaktdaten (z.B. E-Mail, Telefonnummern); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus); Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).
* **Betroffene Personen:** Kommunikationspartner.
* **Zwecke der Verarbeitung:** Direktmarketing (z.B. per E-Mail oder postalisch).
* **Rechtsgrundlagen:** Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO); Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
* **Widerspruchsmöglichkeit (Opt-Out):** Sie können den Empfang unseres Newsletters jederzeit kündigen, d.h. Ihre Einwilligungen widerrufen, bzw. dem weiteren Empfang widersprechen. Einen Link zur Kündigung des Newsletters finden Sie entweder am Ende eines jeden Newsletters oder können sonst eine der oben angegebenen Kontaktmöglichkeiten, vorzugswürdig E-Mail, hierzu nutzen.

## Webanalyse, Monitoring und Optimierung

Die Webanalyse (auch als "Reichweitenmessung" bezeichnet) dient der Auswertung der Besucherströme unseres Onlineangebotes und kann Verhalten, Interessen oder demographische Informationen zu den Besuchern, wie z.B. das Alter oder das Geschlecht, als pseudonyme Werte umfassen. Mit Hilfe der Reichweitenanalyse können wir z.B. erkennen, zu welcher Zeit unser Onlineangebot oder dessen Funktionen oder Inhalte am häufigsten genutzt werden oder zur Wiederverwendung einladen. Ebenso können wir nachvollziehen, welche Bereiche der Optimierung bedürfen.

Neben der Webanalyse können wir auch Testverfahren einsetzen, um z.B. unterschiedliche Versionen unseres Onlineangebotes oder seiner Bestandteile zu testen und optimieren.

Sofern nachfolgend nicht anders angegeben, können zu diesen Zwecken Profile, d.h. zu einem Nutzungsvorgang zusammengefasste Daten angelegt und Informationen in einem Browser, bzw. in einem Endgerät gespeichert und aus diesem ausgelesen werden. Zu den erhobenen Angaben gehören insbesondere besuchte Webseiten und dort genutzte Elemente sowie technische Angaben, wie der verwendete Browser, das verwendete Computersystem sowie Angaben zu Nutzungszeiten. Sofern Nutzer in die Erhebung ihrer Standortdaten uns gegenüber oder gegenüber den Anbietern der von uns eingesetzten Dienste einverstanden erklärt haben, können auch Standortdaten verarbeitet werden.

Es werden ebenfalls die IP-Adressen der Nutzer gespeichert. Jedoch nutzen wir ein IP-Masking-Verfahren (d.h., Pseudonymisierung durch Kürzung der IP-Adresse) zum Schutz der Nutzer. Generell werden die im Rahmen von Webanalyse, A/B-Testings und Optimierung keine Klardaten der Nutzer (wie z.B. E-Mail-Adressen oder Namen) gespeichert, sondern Pseudonyme. D.h., wir als auch die Anbieter der eingesetzten Software kennen nicht die tatsächliche Identität der Nutzer, sondern nur den für Zwecke der jeweiligen Verfahren in deren Profilen gespeicherten Angaben.

* **Verarbeitete Datenarten:** Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
* **Betroffene Personen:** Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
* **Zwecke der Verarbeitung:** Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher); Profile mit nutzerbezogenen Informationen (Erstellen von Nutzerprofilen); Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.
* **Sicherheitsmaßnahmen:** IP-Masking (Pseudonymisierung der IP-Adresse).
* **Rechtsgrundlagen:** Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO); Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

## Onlinemarketing

Wir verarbeiten personenbezogene Daten zu Zwecken des Onlinemarketings, worunter insbesondere die Vermarktung von Werbeflächen oder Darstellung von werbenden und sonstigen Inhalten (zusammenfassend als "Inhalte" bezeichnet) anhand potentieller Interessen der Nutzer sowie die Messung ihrer Effektivität fallen kann.

Zu diesen Zwecken werden sogenannte Nutzerprofile angelegt und in einer Datei (sogenannte "Cookie") gespeichert oder ähnliche Verfahren genutzt, mittels derer die für die Darstellung der vorgenannten Inhalte relevante Angaben zum Nutzer gespeichert werden.

* **Verarbeitete Datenarten:** Inhaltsdaten; Nutzungsdaten; Meta-, Kommunikations- und Verfahrensdaten; Event-Daten (Facebook); Kontaktinformationen (Facebook).
* **Betroffene Personen:** Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
* **Zwecke der Verarbeitung:** Reichweitenmessung; Tracking; Konversionsmessung; Zielgruppenbildung; Marketing; Profile mit nutzerbezogenen Informationen; Bereitstellung unseres Onlineangebotes; Remarketing; Klickverfolgung.
* **Sicherheitsmaßnahmen:** IP-Masking (Pseudonymisierung der IP-Adresse).
* **Rechtsgrundlagen:** Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO); Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

## Kundenrezensionen und Bewertungsverfahren

Wir nehmen an Rezensions- und Bewertungsverfahren teil, um unsere Leistungen zu evaluieren, zu optimieren und zu bewerben. Wenn Nutzer uns über die beteiligten Bewertungsplattformen oder -verfahren bewerten oder anderweitig Feedback geben, gelten zusätzlich die Allgemeinen Geschäfts- oder Nutzungsbedingungen und die Datenschutzhinweise der Anbieter.

* **Verarbeitete Datenarten:** Vertragsdaten; Nutzungsdaten; Meta-, Kommunikations- und Verfahrensdaten.
* **Betroffene Personen:** Kunden; Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
* **Zwecke der Verarbeitung:** Feedback; Marketing.
* **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

## Präsenzen in sozialen Netzwerken (Social Media)

Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem Rahmen Daten der Nutzer, um mit den dort aktiven Nutzern zu kommunizieren oder um Informationen über uns anzubieten.

* **Verarbeitete Datenarten:** Kontaktdaten; Inhaltsdaten; Nutzungsdaten; Meta-, Kommunikations- und Verfahrensdaten.
* **Betroffene Personen:** Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
* **Zwecke der Verarbeitung:** Kontaktanfragen und Kommunikation; Feedback; Marketing.
* **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

## Plugins und eingebettete Funktionen sowie Inhalte

Wir binden in unser Onlineangebot Funktions- und Inhaltselemente ein, die von den Servern ihrer jeweiligen Anbieter (nachfolgend bezeichnet als "Drittanbieter”) bezogen werden. Dabei kann es sich zum Beispiel um Grafiken, Videos oder Stadtpläne handeln (nachfolgend einheitlich bezeichnet als "Inhalte”).

* **Verarbeitete Datenarten:** Nutzungsdaten; Meta-, Kommunikations- und Verfahrensdaten; Bestandsdaten; Kontaktdaten; Inhaltsdaten; Standortdaten.
* **Betroffene Personen:** Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
* **Zwecke der Verarbeitung:** Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit; Erbringung vertraglicher Leistungen und Kundenservice; Profile mit nutzerbezogenen Informationen.
* **Rechtsgrundlagen:** Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).

## Änderung und Aktualisierung der Datenschutzerklärung

Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren. Wir passen die Datenschutzerklärung an, sobald die Änderungen der von uns durchgeführten Datenverarbeitungen dies erforderlich machen. Wir informieren Sie, sobald durch die Änderungen eine Mitwirkungshandlung Ihrerseits (z.B. Einwilligung) oder eine sonstige individuelle Benachrichtigung erforderlich wird.

Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen von Unternehmen und Organisationen angeben, bitten wir zu beachten, dass die Adressen sich über die Zeit ändern können und bitten die Angaben vor Kontaktaufnahme zu prüfen.

## Begriffsdefinitionen

In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser Datenschutzerklärung verwendeten Begrifflichkeiten. Soweit die Begrifflichkeiten gesetzlich definiert sind, gelten deren gesetzliche Definitionen. Die nachfolgenden Erläuterungen sollen dagegen vor allem dem Verständnis dienen.

* **Content Delivery Network (CDN):** Ein "Content Delivery Network" (CDN) ist ein Dienst, mit dessen Hilfe Inhalte eines Onlineangebotes, insbesondere große Mediendateien, wie Grafiken oder Programm-Skripte mit Hilfe regional verteilter und über das Internet verbundener Server, schneller und sicherer ausgeliefert werden können.
* **Klickverfolgung:** Clicktracking erlaubt, die Bewegungen der Nutzer innerhalb eines gesamten Onlineangebotes zu überblicken. Da die Ergebnisse dieser Tests genauer sind, wenn die Interaktion der Nutzer über einen gewissen Zeitraum verfolgt werden kann (z.B., damit wir herausfinden können, ob ein Nutzer gerne wiederkehrt), werden für diese Test-Zwecke im Regelfall Cookies auf den Rechnern der Nutzer gespeichert.
* **Konversionsmessung:** Die Konversionsmessung (auch als "Besuchsaktionsauswertung" bezeichnet) ist ein Verfahren, mit dem die Wirksamkeit von Marketingmaßnahmen festgestellt werden kann. Dazu wird im Regelfall ein Cookie auf den Geräten der Nutzer innerhalb der Webseiten, auf denen die Marketingmaßnahmen erfolgen, gespeichert und dann erneut auf der Zielwebseite abgerufen. Beispielsweise können wir so nachvollziehen, ob die von uns auf anderen Webseiten geschalteten Anzeigen erfolgreich waren.
* **Personenbezogene Daten:** "Personenbezogene Daten“ sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden "betroffene Person“) beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie) oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.
* **Profile mit nutzerbezogenen Informationen:** Die Verarbeitung von "Profilen mit nutzerbezogenen Informationen", bzw. kurz "Profilen" umfasst jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin besteht, dass diese personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine natürliche Person beziehen (je nach Art der Profilbildung können dazu unterschiedliche Informationen betreffend die Demographie, Verhalten und Interessen, wie z.B. die Interaktion mit Webseiten und deren Inhalten, etc.) zu analysieren, zu bewerten oder, um sie vorherzusagen (z.B. die Interessen an bestimmten Inhalten oder Produkten, das Klickverhalten auf einer Webseite oder den Aufenthaltsort). Zu Zwecken des Profilings werden häufig Cookies und Web-Beacons eingesetzt.
* **Reichweitenmessung:** Die Reichweitenmessung (auch als Web Analytics bezeichnet) dient der Auswertung der Besucherströme eines Onlineangebotes und kann das Verhalten oder Interessen der Besucher an bestimmten Informationen, wie z.B. Inhalten von Webseiten, umfassen. Mit Hilfe der Reichweitenanalyse können Webseiteninhaber z.B. erkennen, zu welcher Zeit Besucher ihre Webseite besuchen und für welche Inhalte sie sich interessieren. Dadurch können sie z.B. die Inhalte der Webseite besser an die Bedürfnisse ihrer Besucher anpassen. Zu Zwecken der Reichweitenanalyse werden häufig pseudonyme Cookies und Web-Beacons eingesetzt, um wiederkehrende Besucher zu erkennen und so genauere Analysen zur Nutzung eines Onlineangebotes zu erhalten.
* **Remarketing:** Vom "Remarketing“ bzw. "Retargeting“ spricht man, wenn z.B. zu Werbezwecken vermerkt wird, für welche Produkte sich ein Nutzer auf einer Webseite interessiert hat, um den Nutzer auf anderen Webseiten an diese Produkte, z.B. in Werbeanzeigen, zu erinnern.
* **Standortdaten:** Standortdaten entstehen, wenn sich ein mobiles Gerät (oder ein anderes Gerät mit den technischen Voraussetzungen einer Standortbestimmung) mit einer Funkzelle, einem WLAN oder ähnlichen technischen Mittlern und Funktionen der Standortbestimmung, verbindet. Standortdaten dienen der Angabe, an welcher geografisch bestimmbaren Position der Erde sich das jeweilige Gerät befindet. Standortdaten können z. B. eingesetzt werden, um Kartenfunktionen oder andere von einem Ort abhängige Informationen darzustellen.
* **Tracking:** Vom "Tracking“ spricht man, wenn das Verhalten von Nutzern über mehrere Onlineangebote hinweg nachvollzogen werden kann. Im Regelfall werden im Hinblick auf die genutzten Onlineangebote Verhaltens- und Interessensinformationen in Cookies oder auf Servern der Anbieter der Trackingtechnologien gespeichert (sogenanntes Profiling). Diese Informationen können anschließend z.B. eingesetzt werden, um den Nutzern Werbeanzeigen anzuzeigen, die voraussichtlich deren Interessen entsprechen.
* **Verantwortlicher:** Als "Verantwortlicher“ wird die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet, bezeichnet.
* **Verarbeitung:** "Verarbeitung" ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch jeden Umgang mit Daten, sei es das Erheben, das Auswerten, das Speichern, das Übermitteln oder das Löschen.
* **Zielgruppenbildung:** Von Zielgruppenbildung (englisch "Custom Audiences“) spricht man, wenn Zielgruppen für Werbezwecke, z.B. Einblendung von Werbeanzeigen bestimmt werden. So kann z.B. anhand des Interesses eines Nutzers an bestimmten Produkten oder Themen im Internet geschlussfolgert werden, dass dieser Nutzer sich für Werbeanzeigen für ähnliche Produkte oder den Onlineshop, in dem er die Produkte betrachtet hat, interessiert. Von "Lookalike Audiences“ (bzw. ähnlichen Zielgruppen) spricht man wiederum, wenn die als geeignet eingeschätzten Inhalte Nutzern angezeigt werden, deren Profile, bzw. Interessen mutmaßlich den Nutzern zu denen die Profile gebildet wurden, entsprechen. Zur Zwecken der Bildung von Custom Audiences und Lookalike Audiences werden im Regelfall Cookies und Web-Beacons eingesetzt.

Taipan Consulting GmbH
Mindspace Eurotheum
Empfang im 6\. OG

Neue Mainzer Str. 66-68
60311 Frankfurt/Main

Zentrale: +49 69 94 32 21 34

Cookie-Einstellungen

BLOG

PRESSE

HUBSPOT AT WORK

BEST APPS

NEWSLETTER ANMELDUNG

* Alle rights reserved
* AGB
* Datenschutzerklärung
* Impressum
* Kontakt
____`;
---
<BaseLayout
  title="Datenschutzerklärung – Taipan Consulting"
  description="Datenschutzerklärung der Taipan Consulting GmbH."
>
  <section class="section-a section-padding pt-28 pb-20 md:pt-32 md:pb-24">
    <div class="max-w-content mx-auto">
      <h1 class="max-w-3xl mb-10">Datenschutzerklärung</h1>
      <article class="text-body max-w-4xl">
        <div class="whitespace-pre-wrap leading-relaxed">{privacyText}</div>
      </article>
    </div>
  </section>
</BaseLayout>
